<include src="./menu.html"></include>
<ul class="menu-social">
    <li class="menu-social__item"><a class="menu-social__item--link" href="https://www.facebook.com/createspainfacebook"
            target="_blank">FB</a></li>
    <li class="menu-social__item"><a class="menu-social__item--link" href="#" target="_blank">TW</a></li>
    <li class="menu-social__item"><a class="menu-social__item--link"
            href="https://www.create-store.com/es/content/1093-descarga-nuestra-app">G+</a></li>
</ul>