<section class="articles">
    <include src="./article.html" title="Lorem ipsum dolor sit amet" paragraph="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque alias, rem temporibus minima veritatis
    assumenda eaque, ipsum aliquid tempora impedit nam labore laudantium, delectus. Quae iste perspiciatis
    voluptate maxime fuga."></include>
    <include src="./article-blockquote.html" title="Lorem ipsum dolor sit amet" quote="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque alias, rem temporibus minima
    veritatis assumenda eaque, ipsum aliquid tempora impedit nam labore laudantium, delectus. Quae iste perspiciatis
    voluptate maxime fuga."></include>
    <include src="./article.html" title="Lorem ipsum dolor sit amet" paragraph="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque alias, rem temporibus minima veritatis
    assumenda eaque, ipsum aliquid tempora impedit nam labore laudantium, delectus. Quae iste perspiciatis
    voluptate maxime fuga."></include>
</section>
<aside class="aside">
    <div class="aside__block"></div>
    <div class="aside__block"></div>
</aside>