<ul class="menu">
    <li class="menu__item"><a class="menu__item--link" href="https://www.create-store.com/es/">Link1</a></li>
    <li class="menu__item"><a class="menu__item--link"
            href="https://www.create-store.com/es/content/1629-magazine-index">Link2</a></li>
    <li class="menu__item"><a class="menu__item--link" href="https://www.create-store.com/blog/es/"
            target="_blank">Link3</a>
    </li>
    <li class="menu__item"><a class="menu__item--link" href="https://www.create-store.com/es/contactenos">Link4</a></li>
</ul>