//responsive

@mixin tablet {
    @media all and (min-width: 500px) {
        @content
    }
}

@mixin desktop {
    @media all and (min-width: 1024px) {
        @content
    }
}

@mixin menu-styles {
    .menu {
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        background-color: $color-secondary;

        &__item {
            padding-top: 16px;
            padding-bottom: 16px;
            text-align: center;

            &--link {
                padding-top: 16px;
                padding-bottom: 16px;
                color: $color-secondary-text;
                text-decoration: none;
            }
        }
    }
}