// fonts
$font-primary: Arial, Helvetica, sans-serif;

// colors
$color-primary: #ff993e;
$color-secondary: #c0392b;
$color-primary-text: black;
$color-secondary-text: white;
$color-aside: #008000;
$color-hover: #e74c3c;
$color-social: #874000;
$color-blockquote: #d0d0d0;
$color-margin: #f0f0f0;