body {
    font-family: $font-primary;
    color: $color-primary-text;

    @include desktop {
        background-color: $color-margin;
    }
}

.main {


    @include desktop {
        display: flex;
        justify-content: center;
    }
}