.articles {
    margin: 20px;

    &__post {
        padding-bottom: 16px;
        border-bottom: solid 1px $color-primary-text;

        &:last-child {
            border: none;
            padding-bottom: 0;
            margin-bottom: 150px;

            @include tablet {
                margin-bottom: 0;
            }

            @include desktop {
                margin-bottom: 150px;
            }
        }

        &--title {
            font-weight: bold;
            font-size: 1.5rem;
            margin-top: 22px;
            margin-bottom: 14px;
        }

        &--title-quote {
            font-weight: bold;
            font-size: 1.5rem;
            margin-top: 22px;
            margin-bottom: 19px;
        }

        &--text {
            font-size: 1rem;
            line-height: 1.1;
        }

        &--quote {
            font-size: 1rem;
            margin-left: 30px;
            margin-right: 60px;
            padding-left: 20px;
            border-left: solid 5px $color-blockquote;
            line-height: 1.1;
        }
    }
}