.footer {
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 16px;
    position: fixed;
    bottom: 0;
    width: 100%;

    @include desktop {
        flex-direction: row;
        justify-content: space-between;
        padding-left: 92px;
        padding-right: 92px;
        box-sizing: border-box;
    }

    @include menu-styles;

    .menu {
        margin-left: 47px;
        margin-right: 47px;

        @include desktop {
            min-width: 240px;
            margin-left: 0px;
            margin-right: 0px;
        }

        &__item:hover {
            background-color: $color-hover;
            padding-top: 16px;
            padding-bottom: 16px;
        }
    }

    .menu-social {
        align-self: center;
        display: flex;

        &__item {
            padding: 15px;
            background-color: $color-social;
            transition: 1s ease;

            &--link {
                padding-top: 15px;
                padding-bottom: 15px;
                color: $color-secondary-text;
                text-decoration: none;
            }
        }

        &__item:hover {
            background-color: lighten($color-social, 10%);
        }
    }
}