.footer {
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 16px;
    position: fixed;
    bottom: 0;
    width: 100%;

    @include menu-styles;

    .menu {
        margin-left: 47px;
        margin-right: 47px;

        &__item {}
    }

    .menu-social {
        align-self: center;
        display: flex;

        &__item {
            padding: 15px;
            background-color: $color-social;

            &--link {
                padding-top: 15px;
                padding-bottom: 15px;
                color: $color-secondary-text;
                text-decoration: none;
            }
        }
    }
}